<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          {% if page.permalink == '/cn/' %}
            <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="/cn/#about-me">主页</a></li>
            <li class="masthead__menu-item"><a href="/cn/#about-me">关于我</a></li>
            <li class="masthead__menu-item"><a href="/cn/#-news">新闻</a></li>
            <li class="masthead__menu-item"><a href="/cn/#-publications">论文</a></li>
            <li class="masthead__menu-item"><a href="/cn/#-honors-and-awards">荣誉与奖励</a></li>
            <li class="masthead__menu-item"><a href="/cn/#-educations">教育经历</a></li>
            <li class="masthead__menu-item"><a href="/cn/#-research-experience">科研经历</a></li>
          {% else %}
            <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="#about-me">Homepage</a></li>
            {% for link in site.data.navigation.main %}
              <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          {% endif %}

          <li class="masthead__menu-item">
          {% if page.permalink == '/cn/' %}
            <a href="/cn/#competitions">其他</a>
          {% else %}
            <a href="#competitions">Other</a>
          {% endif %}
          </li>

          <!-- 新增：CV 选项（样式与其他相同） -->
          <li class="masthead__menu-item">
            <a href="{% if page.permalink == '/cn/' %}{{ "/files/resume_zh.pdf" | relative_url }}{% else %}{{ "/files/CV.pdf" | relative_url }}{% endif %}">{% if page.permalink == '/cn/' %}简历{% else %}Resume{% endif %}</a>
          </li>

        </ul>
        <div class="masthead__meta">
          {% if page.permalink == '/cn/' %}
            <a href="/">英</a><span class="masthead__meta-separator">/</span><a class="is-current" href="/cn/">中</a>
          {% else %}
            <a class="is-current" href="/">EN</a><span class="masthead__meta-separator">/</span><a href="/cn/">CN</a>
          {% endif %}
          <span class="masthead__meta-divider">|</span>
          <span class="masthead__updated">{% if page.permalink == '/cn/' %}更新：{% else %}Updated: {% endif %}{{ site.time | date: "%Y-%m-%d" }}</span>
        </div>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
